<% if @friends.count > 0 %>
  <h2 class="text-center">Friends List</h2>
  <div class="friendListShow">
    <% @friends.each { |friend| %>
      <div class="friend">
        <%= link_to image_tag('gravatar.jpg') + friend.first_name + " " + friend.last_name, user_path(friend) %>
      </div>
    <% } %>
  </div>
<% end %>

<% if @posts.count > 0 %>
<h2 class="text-center">Post History</h2>
  <div class="posList">
  <% @posts.each { | post | %>
    <%
			user = User.find_by(id: post.user_id)
			likedOrNot = Like.find_by('user_id=? AND likeable_id=? AND likeable_type=?', current_user.id, post.id, "Post")
		%>
    <div class="wrapper">
      <div class="author"><span>Author: </span><%= link_to image_tag('gravatar.jpg') + user.first_name + " " + user.last_name, user_path(user) %></div>
      <div class="post">
          <p> <%= post.content %></p>
          <div class="options">
            <% if post.user_id == current_user.id %>
              <%= link_to "Edit", edit_post_path(post) %>
              <%= link_to "Delete", post_path(post), method: :delete %>
            <% end %>
            <%= link_to "Comments (#{post.comments.count})", comments_post_path(post.id) %>
          </div>
          <div class="commentForm">
            <% @post = post %>
            <%= render 'posts/comments_form' %>
            <%= render 'posts/comments_list' %>
          </div>
      </div>
    </div>
  <% } %>
  </div>
<% end %>
